{% extends 'base.html.twig' %}

{% block title %}Musique index{% endblock %}

{% block body %}
    <h1>Musique index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Auteur</th>
                <th>DateDeSortie</th>
                <th>Album</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for musique in musiques %}
            <tr>
                <td>{{ musique.id }}</td>
                <td>{{ musique.nom }}</td>
                <td>{{ musique.auteur }}</td>
                <td>{{ musique.dateDeSortie ? musique.dateDeSortie|date('Y-m-d') : '' }}</td>
                <td>{{ musique.album }}</td>
                <td>
                    <a href="{{ path('app_musique_show', {'id': musique.id}) }}">show</a>
                    <a href="{{ path('app_musique_edit', {'id': musique.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_musique_new') }}">Create new</a>


    <a href="{{ path('app_dashboard') }}"> DashBoard</a>
{% endblock %}
