{% extends 'base.html.twig' %}

{% block title %}Sales index{% endblock %}

{% block body %}
    <h1>Sales index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product_id</th>
                <th>Quantity</th>
                <th>Total_price</th>
                <th>Sale_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.id }}</td>
                <td>{{ sale.productId }}</td>
                <td>{{ sale.quantity }}</td>
                <td>{{ sale.totalPrice }}</td>
                <td>{{ sale.saleDate ? sale.saleDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_sales_show', {'id': sale.id}) }}">show</a>
                    <a href="{{ path('app_sales_edit', {'id': sale.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sales_new') }}">Create new</a>
{% endblock %}
