{% extends 'base.html.twig' %}

{% block title %}RI{% endblock %}

{% block body %}
    <h1>RI</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nombre</th>
                <th>Prix</th>
                <th>Crée le</th>
            </tr>
        </thead>
        <tbody>
        {% for sale in sales %}
            <tr>
                <td>{{ sale.productId }}</td>
                <td>{{ sale.nombre }}</td>  <!-- Utilisez `nombre` pour la quantité -->
                <td>{{ sale.prix }}</td>  <!-- Utilisez `totalPrice` pour le prix total -->
                <td>
                    <a href="{{ path('app_sales_show', {'id': sale.id}) }}">Voir</a>
                    <a href="{{ path('app_sales_edit', {'id': sale.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">pas de RI trouvé</td>  <!-- Correction de `colspan` de 6 à 4 -->
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sales_new') }}">Nouveau RI</a>
    <a href="{{ path('app_dashboard') }}">Retour à la liste</a>
{% endblock %}
