{% extends 'base.html.twig' %}

{% block title %}Reviews index{% endblock %}

{% block body %}
    <h1>Reviews index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>IMEI</th>
                <th>Commentaire</th>
                <th>TypeDeRetour</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for review in reviews %}
            <tr>
                <td>{{ review.id }}</td>
                <td>{{ review.productId }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.sentiment }}</td>
                <td>
                    <a href="{{ path('app_reviews_show', {'id': review.id}) }}">show</a>
                    <a href="{{ path('app_reviews_edit', {'id': review.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reviews_new') }}">Create new</a>
{% endblock %}
